html, body {
  padding: 0px;
  margin: 0px;
}


.header-backing {
  height: 220px;
  background: url("equalizer.jpg");
  /*background-color: grey;*/
  background-size: cover;
  background-position: center;
  opacity: .7;
  text-align: center;

 }

 h1 {
  opacity: 1;
  font-family: 'Lobster', cursive;
  font-size: 120px;
  color: black;

 }

.header-text {
  

}

#space-below-sequence-blocks {
  height: 35px;
}

#bgmain{
  /*background: linear-gradient(90deg, rgba(0,0,0,.7), rgba(0,0,0,.5), rgba(0.8,0.8,0.8,.5), rgba(0,0,0,.5), rgba(0,0,0,.7));*/
  background: linear-gradient(270deg, white, rgba(50, 50, 50, .3), white);
}

#sequence-name {
  font-size: 1.75rem;
}

.filter-eg-slider {
    height:90px; 
    float:left; 
    margin-left:30%;
}

.filter-eg-labels {
  text-align: center;
  /*margin: 0px;*/
  margin-left: -25%;
}